/* 0. 최상위 컨테이너 */
.search-page-container {
    width: 100%;
     /* AppContainer의 높이를 꽉 채웁니다. */
    height: 100%;
    display: flex;
    flex-direction: column;
    
    background-color: #ffffff; /* 배경색: 어두운 테마 */
    color: #000000;
    position: relative;
    background: var(--White, #ffffff);
    
    /* 하단 네비게이터 영역을 피하기 위한 패딩 */
    padding-bottom: 70px; 
    padding-top: 20px;
    overflow-y: auto; /* 내용이 길면 스크롤 가능 */
}

/* 1. 헤더 */
.header > .head{
    position: absolute;
    top: 140px;
    left: 20px;
    font-weight: 500;
    font-size: medium;
}

.header > .body{
    position: absolute;
    top: 175px;
    left: 20px;
    font-size: small;
}   

.search-box{ /* 여러 상자의 기본 양식 */
    border: solid 2px;
    width: 772px;
    border-color: #5409DA;
    box-shadow: 0px 0px 8px #d4bbff;
}

/* 2. 카테고리 */
div.search-category{
    position: absolute;
    left: 20px;
    top: 225px;
    height: 105px;
    font-size: 14px;
}

p.search-category{
    position: absolute;
    left: 20px;
    font-weight: 500;
}

.search-btn-group{
    position: absolute;
    left: 20px;
    top: 55px;
}

.search-btn-group input {
  display: none;
}

.search-btn-group label {
    color:#5409DA;
    padding: 5px 7px;
    border: 2px solid #5409DA;
    border-radius: 0%;
    cursor: pointer;
    font-size: small;
    margin-right: 13px;
}

.search-btn-group input:checked + label {
  background-color: #5409DA;
  color: white;
  border-color: #5409DA;
}

/* 3. 선호사항 */
div.search-prefer{
    position: absolute;
    left: 20px;
    top: 350px;
    height: 190px;
    font-size: 14px;
}

/* 3-1. 모집상태 */
p.search-state{
    position: absolute;
    left: 20px;
    font-weight: 500;
}


/* 3-2. 연령대 */
p.search-age{
    position: absolute;
    left: 51%;
    font-weight: 500;
}

div.age-btn{
    position: absolute;
    left: 51%;
}

/* 3-3. 공연 날짜 */
p.search-per-date{
    position: absolute;
    left: 20px;
    top: 88px;
    font-weight: 500;
}

.search-start-date{
    position: absolute;
    top: 136px;
    left: 20px;

    height: 30px;
    width: 20%;
    border-radius: 0%;
    border: none;
    background-color: #BECBFF;

    color: gray;
    padding-left: 8px;
    padding-right: 8px;

}

.search-end-date{
    position: absolute;
    top: 136px;
    left: 205px;

    height: 30px;
    width: 20%;
    border-radius: 0%;
    border: none;
    background-color: #BECBFF;

    color: gray;
    padding-left: 8px;
    padding-right: 8px;

}

.search-bla{
    position: absolute;
    top: 140px;
    left: 185px;
}
/* 3-4. 성별 */
p.search-gender{
    position: absolute;
    left: 51%;
    top: 88px;
    font-weight: 500;
}

div.gender-btn{
    position: absolute;
    left: 51%;
    top: 142px;
}

/* 4. 정렬 조건 */
.sort-btn{
    position: absolute;
    top: 562px;
    left: 516px;
}

/* 5. 페이지 */
.search-paging {
  display: flex;
  margin: 0 auto;
  font-size: small;
}


/* 6. 목록 */
.search-whole-content{
    position: relative;
    top: 589px;
    margin: 0 auto;

    display: grid;
    grid-template-rows: repeat(4, 1fr); /* 2열 */
    gap: 20px;

    width: 95%;
    height: 590px;
    padding: 0px 0px 20px;
    overflow: hidden;
}

.search-section-func{
    display: flex;
    padding: 7px 7px;
    box-shadow: 0px 0px 8px #d4bbff;
    border: 2px solid;
    height: 100%;
    width: 100%;
    border-color:#5409DA;
    overflow: hidden;
    cursor: pointer;
}

.search-content-length{
    position: absolute;
    top: 554px;
    left: 22px;
    font-size: 13px;
}

.search-section-title{
    font-size: 13px;

    font-weight: 500;
    line-height: 1;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 0px;

    display: inline-block;     /* inline-block 필요 */
    width: 100%;   
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

span.search-section-category{
    position: relative;
    top: 4px;
    left: 11px;
    border: 2px solid;
    font-size: 14px;
    padding: 2px 5px;
    margin-right: 10px;

    border-color: #5409DA;
    color:#5409DA;

}

span.search-section-state{
    position: relative;
    top: 4px;
    left: 10px;
    border: 2px solid;
    font-size: 14px;
    padding: 2px 5px;

}

.search-section-body1{
    position: absolute;
    margin: 0px;
    left: 101px;
    font-size: 12px;
}

.search-section-body2{
    position: absolute;
    margin: 0px;
    left: 57%;
    font-size: 12px;
}

.search-section-img{
    height: 108px;
    width: 81px;
}

.search-section-accountInfo{
    display: flex;
    margin-bottom: 5px;
}

.search-section-accountInfo img{
    position: relative;
    top: 3px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.search-section-accountInfo p{
    margin: 0;
    position: relative;
    top: 4px;
    left: 10px;
    font-size: 8px;
    
}

.search-tag-container{
    position: relative;
    top: 30px;
    width: 670px;
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    gap: 5px; /* 요소 사이 간격 */
    flex-wrap: wrap; /* 필요하면 줄바꿈 */
}
.search-section-tag{
    background-color: #4E71FF;
    color: white;
    font-weight: 400;
    font-size: 13px;
    padding: 0px 3px;
}