*, *::before, *::after {
  /* 패딩과 테두리를 요소 크기 안에 포함하도록 설정 */
  box-sizing: border-box; 
}

body, #root {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f3f1f1;
    min-height: 100vh;
}

.app-wrapper {
    width: 812px;
    height: 100%; 
    min-height: 812px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 200px 0; */
    
    
    background-color: #f3f1f1; /* 배경색: 검은색 */
    color: #FFFFFF;
    position: relative;
    overflow-y: hidden;
}

.app-content{
    height: 100%;
    width: 812px;
    min-width: 375px;

    /* height: 100vh; */
    max-height: 812px; 

    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    overflow: hidden;
}