/* 0. 최상위 컨테이너 */
.login-page-container {
    width: 100%;
     /* AppContainer의 높이를 꽉 채웁니다. */
    height: 100%;
    display: flex;
    flex-direction: column;
    
    background-color: #ffffff; /* 배경색: 어두운 테마 */
    color: #000000;
    position: relative;
    background: var(--White, #ffffff);
    
    /* 하단 네비게이터 영역을 피하기 위한 패딩 */
    padding-bottom: 70px; 
    padding-top: 20px;
    overflow-y: auto; /* 내용이 길면 스크롤 가능 */
}

div.box{
    margin: 0 auto;
    position: relative;
    top: 150px;
    width: 50%;
    height: 34%;

    border: solid 2px;
    box-shadow: 0px 0px 8px #d4bbff;
    border-color: #5409DA;
}

p.title{
    position: relative;
    top: 20px;
    text-align: center;
    margin: 0 auto;
    color:#5409DA;
    font-weight: 500;
    margin-bottom: 30px;
}

.star{
    padding-left: 3px;
    color:#5409DA;
    font-weight: 900;
}

p.name{
    position: relative;
    left: 20px;
    font-weight: 500;
}

.write{
    position: relative;
    left: 20px;
    border-radius: 0%;
    border-color:#5409DA;
    padding: 5px 8px;
    width: 90%;
}


input[type="checkbox"] {
    position: relative;
    top: 20px;
    left: 15px;
    width: 20px;
    height: 20px;
    accent-color: #5409DA;
}

.maintain{
    position: absolute;
    top: 215px;
    left: 48px;
    font-size: 13px;
}

.findPwd{
    position: absolute;
    top: 215px;
    right: 20px;
    font-size: 13px;
    text-decoration: underline;
}

.loginBtn{
    position: absolute;
    left: 20px;
    top: 230px;
    background-color: #5409DA;
    color: white;
    width: 90%;
    padding: 8px 0px;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.noAccount{
    position: relative;
    top: 85px;
    text-align: center;
    font-size: 13px;
}

.signIn{
    font-size: 13px;
    margin-left: 7px;
    text-decoration: underline;
    cursor: pointer;
}
