/* 1. 최상위 컨테이너 */
.home-page-container {
    width: 100%;
     /* AppContainer의 높이를 꽉 채웁니다. */
    height: 100%;
    display: flex;
    flex-direction: column;
    
    background-color: #ffffff; /* 배경색: 어두운 테마 */
    color: #000000;
    position: relative;
    background: var(--White, #ffffff);
    
    /* 하단 네비게이터 영역을 피하기 위한 패딩 */
    padding-bottom: 70px; 
    padding-top: 20px;
    overflow-y: auto; /* 내용이 길면 스크롤 가능 */
}

img.background{
    position: absolute;
    top: 145px;
    width: 100%;
}

.frontTitle{
    position: relative;
    top: 190px;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 500;
}

.frontBody{
    position: relative;
    top: 200px;
    margin: 0 auto;
    font-size: 20px;
    color: gray;
}

button.background-findMate{
    position: absolute;
    left: 27%;
    top: 350px;
    width: 190px;
    padding: 12px 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    background-color: #4E71FF;
    color: white;
    font-weight: 400;
    cursor: pointer;
    font-size: 20px;

}

button.background-postMate{
    position: absolute;
    right: 27%;
    top: 350px;
    width: 188px;

    padding: 12px 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
    background-color: #5409DA;
    color: white;
    font-weight: 400;
    cursor: pointer;
    font-size: 20px;

}